<!DOCTYPE html>
<html>
    <head>
        <link href="css/style.css" rel="stylesheet">
        <meta charset ='UTF-8'>
        <title>{{welcome}}</title>
    </head>
    <body>
        {{> header}}
        
        {{> footer}}
    </body>
</html>